<h1>Create new pokemon</h1>

<!-- action => where the user input goes to -->
<form action="/create-pokemon" method="post">
  <input type="text" name="pokemon-name" placeholder="Your pokemon name">
  <input type="text" name="pokemon-element" placeholder="The element">
  <input type="submit">
</form>